.darkBG{
    background: rgb(243, 7, 7);
}
.darkerBG{
    background: rgb(22, 181, 230);
}
.darkestBG{
    background: rgb(59, 243, 74);
}
.btn{    
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
    background-color: RoyalBlue;
  }